@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[data-theme="dark"] {
  filter: invert(1) hue-rotate(180deg);
}

/* now undo the inversion on media (images, videos, svgs…), so they don’t end up looking like negatives */
[data-theme="dark"] img,
[data-theme="dark"] video,
[data-theme="dark"] canvas,
[data-theme="dark"] svg {
  filter: invert(1) hue-rotate(180deg);
}

@layer base{
  body{
    @apply font-[Montserrat]
  }
}

body {
  margin: 0;
  /* background-color: rgb(13 3 36); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
